body {
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    width: 150px;
    height: auto;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background: #555;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.section-content {
    text-align: center;
}

.section-content h2 {
    margin-bottom: 20px;
}

.section-content .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content .text-right {
    text-align: left;
    max-width: 50%;
    padding-left: 20px;
}

.section-content img.center-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin-right: 20px; /* Ajuste o espaçamento entre a imagem e o texto conforme necessário */
    margin-left: auto;
}

section {
    width: 30%;
    margin: 20px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    color: #333;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 24px;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    background: #ddd;
}
